IS_PROD = '1'
BASE_URL = ''
QUICK_SHARE_BASE_URL = ''
GET_LOGO_URL = ''
WS_URL = ''
GOOGLE_CLIENT_ID_ANDROID = ''
GOOGLE_CLIENT_ID_IOS = ''
SHARED_KEYCHAIN_SERVICE = ''
SHARED_KEYCHAIN_ACCESS_GROUP = ''
GITHUB_CONFIG_REDIRECTURL = ''
GITHUB_CONFIG_CLIENTID = ''
RECAPTCHA_SITE_KEY = ''
RECAPTCHA_BASE_URL = ''
SSL_PINNING_HOST = ''
SSL_PINNING_PUB_KEY_1 = ''
SSL_PINNING_PUB_KEY_2 = ''
DSN_SENTRY = ''
APPS_FLYER_DEV_KEY  = ''

