<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    tools:ignore="MissingLeanbackLauncher">

  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.software.leanback" android:required="false" />   <!-- Exclude Android TV by stating you don't support LEANBACK -->
  <uses-feature android:name="android.hardware.type.automotive" android:required="false" />   <!-- Exclude Android Auto by stating you don't support AUTOMOTIVE -->
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.READ_CALL_LOG" />
  
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>

  <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true"
    >
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>

    <activity
        android:name=".MainActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode|locale|layoutDirection"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/Theme.App.SplashScreen"
        android:exported="true"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="locker"/>
        <data android:scheme="com.cystack.locker"/>
        <data android:scheme="exp+locker"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="https"
              android:host="id.locker.io"
              android:path="/login/quick" />
      </intent-filter>

      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="https"
              android:host="id.locker.io"
              android:pathPrefix="/confirmation" />
      </intent-filter>
    </activity>

    <receiver
        android:name=".scam.ScamReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.PHONE_STATE" />
      </intent-filter>
    </receiver>

    <service
        android:exported="false"
        android:name=".autofill.LockerAutoFillService"
        android:label="@string/service_name"
        android:permission="android.permission.BIND_AUTOFILL_SERVICE">
      <intent-filter>
        <action android:name="android.service.autofill.AutofillService" />
      </intent-filter>
      <meta-data
          android:name="android.autofill"
          android:resource="@xml/autofill_service_configuration" />
    </service>

    <meta-data
        android:name="asset_statements"
        android:resource="@string/asset_statements" />
    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />
    <meta-data
        android:name="com.facebook.sdk.ClientToken"
        android:value="@string/facebook_client_token" />
    <meta-data
        android:name="io.sentry.anr.enable"
        android:value="false" />
    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />
  </application>
</manifest>