<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Locker.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>93C7ABB286D6E34FF0A5313D2E4EC1404A5B0B7A</string>
				<key>dateExpires</key>
				<string>08/10/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93C7ABB286D6E34FF0A5313D2E4EC1404A5B0B7A</string>
						<key>dateExpires</key>
						<string>08/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W7S57TNBH5</string>
						<key>name</key>
						<string>VIET NAM CYSTACK JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93C7ABB286D6E34FF0A5313D2E4EC1404A5B0B7A</string>
						<key>dateExpires</key>
						<string>08/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptorECC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W7S57TNBH5</string>
						<key>name</key>
						<string>VIET NAM CYSTACK JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93C7ABB286D6E34FF0A5313D2E4EC1404A5B0B7A</string>
						<key>dateExpires</key>
						<string>08/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W7S57TNBH5</string>
						<key>name</key>
						<string>VIET NAM CYSTACK JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>6.3.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93C7ABB286D6E34FF0A5313D2E4EC1404A5B0B7A</string>
						<key>dateExpires</key>
						<string>08/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftCBOR.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W7S57TNBH5</string>
						<key>name</key>
						<string>VIET NAM CYSTACK JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93C7ABB286D6E34FF0A5313D2E4EC1404A5B0B7A</string>
						<key>dateExpires</key>
						<string>08/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VinCSSFido2ClientSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W7S57TNBH5</string>
						<key>name</key>
						<string>VIET NAM CYSTACK JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93C7ABB286D6E34FF0A5313D2E4EC1404A5B0B7A</string>
						<key>dateExpires</key>
						<string>08/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>W7S57TNBH5.com.cystack.locker.vincss.LockerAutofill</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>W7S57TNBH5</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.cystack.locker.vincss</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>W7S57TNBH5.com.cystack.locker.vincss</string>
						</array>
					</dict>
					<key>name</key>
					<string>LockerAutofill.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>111760cc-5f05-4e2a-ada9-30d45157fa5a</string>
						<key>dateExpires</key>
						<string>08/10/2024</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.cystack.locker.vincss.LockerAutofill</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W7S57TNBH5</string>
						<key>name</key>
						<string>VIET NAM CYSTACK JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W7S57TNBH5.com.cystack.locker.vincss</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:lockerio.page.link</string>
				</array>
				<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>W7S57TNBH5</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.cystack.locker.vincss</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>W7S57TNBH5.com.cystack.locker.vincss</string>
				</array>
			</dict>
			<key>name</key>
			<string>Locker.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dd8b7176-baf3-43e8-b11d-1e7d57cb1529</string>
				<key>dateExpires</key>
				<string>08/10/2024</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.cystack.locker.vincss</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W7S57TNBH5</string>
				<key>name</key>
				<string>VIET NAM CYSTACK JOINT STOCK COMPANY</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
